<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Titan Cosmos</title>
    <link rel="stylesheet" href="/css/Style/login.css">
    <link rel="shortcut icon" href="/images/logo.png" />
</head>
<body>
    <div class="login-page">
        <img src="/images/logo.png">
        <div class="form">
          <form class="login-form" action="/login_veri" method="post">
            <input type="text" placeholder="Username" name="Usuario"/>
            <input type="password" placeholder="Password" name="Contra"/>
            <button>Ingresar</button>
          </form>
        </div>
      </div>
      <footer>
        <div class="contenedor-pie-pagina">
          <p>Conecta con el administrador<br>correo@correo.com</p>
        </div>
      </footer>
</body>
</html>